<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526508297834-e98pn9uk4l0lnc6rc3c3jrdp533ppq56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526508297834-e98pn9uk4l0lnc6rc3c3jrdp533ppq56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526508297834-2r9a6hmsi3jvovnb6eqrqgvv97uvvtss.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFMYAc0Fnhaun3tuSDRSuYNFSQ3LGVffs</string>
	<key>GCM_SENDER_ID</key>
	<string>526508297834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ciolfi.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-ebbb4</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-ebbb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526508297834:ios:124411ba923ddbac510413</string>
	<key>DATABASE_URL</key>
	<string>https://loja-virtual-ebbb4.firebaseio.com</string>
</dict>
</plist>